html{
    scroll-behavior: smooth;
}
*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
.container{
    max-width: 1000px;
    margin: auto;
    /* font-family: 'Handlee', cursive;
    font-family: 'Roboto', sans-serif; */
}
.row{
    width: 100%;
}
.row::after{
    display: block;
    content: '';
    clear: both;
}

[class*="col-"] {
    float: left;
    padding: 15px;
  }

[class*="col-"] {
    width: 100%;
  }

/* header start */
header{
  background-color: #18949B;
  padding: 0% 1%;
  text-align: center;
}
header .logo-div{}
header .logo-div i{
  
}
header .logo-div i.logo{
  color: white;
  width: 70px;
  height: 70px;
  line-height: 70px;
  border-radius: 50%;
  border: 2px solid white;
}
header nav{}
header nav ul{}
header nav ul li{
  display: block;
}
header nav ul li a{
  display: block;
  text-decoration: none;
  color: white;
  font-size: 1rem;
  line-height: 70px;
  font-family: 'Roboto', sans-serif;
  font-weight: bolder;
  text-transform: uppercase;
  transition: 0.4s;
  padding: 0px 20px;
}
header nav ul li a:hover{
  border-radius: 10px;
  background: rgba(0, 0, 0, .5);
}
/* header end*/

/* banner start */
.bannersection{
  background-image: url(images/banner.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
}
.bannersection .banner-contents{
  text-align: center;
  padding: 50px 10px;
}
.bannersection h1{
  width: 100%;
  background: yellow;
  font-size: 3rem;
  font-family: 'Handlee', cursive;
  font-weight: bolder;
  padding: 10px;
  border-radius: 5px;
  margin: 15px auto;

}
.bannersection p{
  background: rgb(0, 128, 0);
  color: white;
  font-size: 1.5rem;
  padding: 10px;
  border-radius: 5px;
  margin: 15px auto;
  width: 300px;
}
.bannersection .btn{
  width: 160px;
  background: rgb(0, 128, 0);
  color: white;
  font-size: 1.3rem;
  font-weight: bolder;
  text-transform: uppercase;
  border: none;
  border-radius: 5px;
  padding: 10px ;
  transition: .4s;
  cursor: pointer;
}
.bannersection .btn:hover{
  transform: scale(1.2);
}
/* banner end */

/* about design start */
.about-us{
    padding: 1%;
}
.about-us .about-us-contents{
   text-align: center;
}
.about-us .about-us-contents h3{
   font-size: 2rem;
   font-weight: bolder;
   padding-bottom: 10px;
}
.about-us .about-us-contents p{
    font-size: 1rem;
    padding-bottom: 10px;
}
/* about design end */

/* food menu design start */
.food-menu{
    padding: 1%;
}
.food-menu .card{
    transition: 0.4s;
}
.food-menu .card-body{
    text-align: center;
}
.food-menu .card-body img{
    max-width: 100%;
    height: auto;
    display: block;
}
.food-menu .card-desc{
    background: rgb(165, 164, 164);
}
.food-menu .card-desc h3{
    background: rgb(0, 128, 0);
    color: white;
    padding: 10px;
}
.food-menu .card-desc p{
    font-size: 1rem;
    padding: 10px;
    font-weight: bolder;

}
.food-menu .card:hover{
    transform: scale(1.05);
}

/* food menu design end */

/* contact design start */
.contacts{
    padding: 1%;
    background: #575D84;

}
.contacts .map{
    width: 100%;
    height: 250px;
}
.contact-details{
    color: white;
    text-align: center;
    padding: 20px;
}
.contact-details p, address{
    font-size: 1.2rem;
}
.contact-details h3{}
.contact-details h5{}

/* contact design end */
  /* footer starts */
.footer{
      padding: 1%;
      background: #050A31;
      color: white;
  }
  .footer p{
      line-height: 32px;
      font-size: 0.9rem;
      text-align: center;
  }
  .socila-menus{
      text-align: center;
  }
  .icon-style{
      color: white;
      text-align: center;
      border: 1px solid white;
      border-radius: 50%;
      margin: 0px 10px;
      width: 32px;
      height: 32px;
      line-height: 32px;
  }
  .icon-style:hover{
    background: gray;
    transform: scale(1.3);
  }
  /* footer ends */
/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
    .col-s-1 {width: 8.33%;}
    .col-s-2 {width: 16.66%;}
    .col-s-3 {width: 25%;}
    .col-s-4 {width: 33.33%;}
    .col-s-5 {width: 41.66%;}
    .col-s-6 {width: 50%;}
    .col-s-7 {width: 58.33%;}
    .col-s-8 {width: 66.66%;}
    .col-s-9 {width: 75%;}
    .col-s-10 {width: 83.33%;}
    .col-s-11 {width: 91.66%;}
    .col-s-12 {width: 100%;}
  }
  
  /* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
    .col-md-1 {width: 8.33%;}
    .col-md-2 {width: 16.66%;}
    .col-md-3 {width: 25%;}
    .col-md-4 {width: 33.33%;}
    .col-md-5 {width: 41.66%;}
    .col-md-6 {width: 50%;}
    .col-md-7 {width: 58.33%;}
    .col-md-8 {width: 66.66%;}
    .col-md-9 {width: 75%;}
    .col-md-10 {width: 83.33%;}
    .col-md-11 {width: 91.66%;}
    .col-md-12 {width: 100%;}
  }

  /* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
  
  /* header design start */
  .logo-div{
      float: left;
  }
  nav ul{
      float: right;
  }
  
  header nav ul li{
      display: inline-block;
  }
  header nav ul li a{
     display: inline-block;
  }
  header nav ul li a:hover{
      background-color: transparent;
      transform: scale(1.2);
      text-decoration: underline;
      border-radius: 0px;
    }
    /* header design end */
    /* banner design start */
    .bannersection{
      position:relative;
      height: 100vh;
    }
    .bannersection .banner-contents{
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%,-50%);
    }
    .bannersection .banner-contents h1{
      width: 700px;
      font-size: 3.5rem;
    }
    .bannersection .banner-contents p{
      width: 500px;
      font-size: 2rem;
    }
    /* banner design end */

    /* food menu start */
    .food-menu .card-body img {
      max-width: 100%;
      height: 322.5px;
      display: block;
    }
    /* food menu end */

    /* footer design start */
    .footer p {
      text-align: left;
    }
    .socila-menus{
      float: right;
    }
    /* footer design start */

    .col-lg-1 {width: 8.33%;}
    .col-lg-2 {width: 16.66%;}
    .col-lg-3 {width: 25%;}
    .col-lg-4 {width: 33.33%;}
    .col-lg-5 {width: 41.66%;}
    .col-lg-6 {width: 50%;}
    .col-lg-7 {width: 58.33%;}
    .col-lg-8 {width: 66.66%;}
    .col-lg-9 {width: 75%;}
    .col-lg-10 {width: 83.33%;}
    .col-lg-11 {width: 91.66%;}
    .col-lg-12 {width: 100%;}
}